@model TT2Thot.Models.Tema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unidad.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.Raw(Model.Contenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bibliografia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bibliografia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TemaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
